<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        title Document
    body
        nav
            div(class="l-header")
                a(href="/")
                    img(src="../images/chien-cute.jpg", alt="")
                h1(class="b") Login in
                a(href="login" class="btn") Login in
                a(href="register" class="btn") Sign up
        block content
        div(class="clear")
        footer
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque corporis adipisci laudantium aspernatur, accusantium, deleniti iure ex odio nemo, quis perspiciatis ipsam animi sed nisi et hic repudiandae repellat!